.env
credentials.h
node_modules/
/.idea/.gitignore
/backend/.gitignore
/frontend/.gitignore
/.idea/modules/backend.iml
/.idea/modules/backend.main.iml
/.idea/modules/backend.test.iml
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/8.14/checksums/checksums.lock
/.idea/compiler.xml
/.gradle/8.14/executionHistory/executionHistory.bin
/.gradle/8.14/executionHistory/executionHistory.lock
/frontend/.vscode/extensions.json
/.gradle/8.14/fileHashes/fileHashes.bin
/.gradle/8.14/fileHashes/fileHashes.lock
/.idea/gradle.xml
/.idea/kotlinc.xml
/.idea/libraries/KotlinJavaRuntime.xml
/frontend/.vscode/launch.json
/.idea/misc.xml
/.idea/modules.xml
/.gradle/buildOutputCleanup/outputFiles.bin
/.idea/inspectionProfiles/Project_Default.xml
/.gradle/8.14/fileHashes/resourceHashesCache.bin
/frontend/src.zip
/frontend/.vscode/tasks.json
/.idea/vcs.xml
/.idea/modules/backend/websocket-camera-app.backend.iml
/.idea/modules/backend/websocket-camera-app.backend.main.iml
/.idea/modules/backend/websocket-camera-app.backend.test.iml
/.idea/modules/frontend/websocket-camera-app.frontend.iml
/.idea/modules/websocket-camera-app.iml
/backend/src/test/kotlin/fr/gallonemilien/websocketcam/WebsocketcamApplicationTests.kt
/.idea/WebsocketEspCamera.iml
.env.properties
