services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: backend
    environment:
      WS_CAM_ESP_SECRET: ${WS_CAM_ESP_SECRET}
      WS_CAM_JWT_SECRET: ${WS_CAM_JWT_SECRET}
      WS_CAM_PASSWORD: ${WS_CAM_PASSWORD}
      WS_CAM_USER: ${WS_CAM_USER}
      ACTIVE_ENV: prod
    expose:
      - "8080"
    ports:
      - "8080:8080"

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  mongo:
    image: mongo:8.0
    container_name: mongodb
    restart: always
    environment:
      MONGO_INITDB_DATABASE: esp32cam
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: