<div class="camera-wrapper" *transloco="let t">
  <mat-card class="camera-card" appearance="outlined">
    <mat-card-header class="camera-header">
      <mat-card-title>
        <div class="camera-title">
          {{ t('camera.title') }}
          <span
            class="live-indicator"
            [class.active]="isActive()"
          ></span>
        </div>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="canvas-container">
        <canvas #canvas></canvas>

        @if (!isActive()) {
          <div class="spinner-overlay">
            <mat-spinner diameter="60"></mat-spinner>
          </div>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
