@use "variables" as vars;

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  height: calc(100vh - var(--header-height, vars.$header-height));
  background-color: vars.$lower-color;
}


form {
  background-color: #ffffff;
  padding: 2rem 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
}

.full-width {
  width: 100%;
}

mat-form-field.error .mat-form-field-wrapper {
  border: 1px solid vars.$error-color;
  border-radius: 4px;
}

button {
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  font-size: 0.95rem;
  border-radius: 6px;
  text-transform: none;
}

button:hover {
  background-color: vars.$lower-color;
  transition: 0.5s;
}

button:disabled {
  background-color: #90a4ae;
  color: #fff;
}
