form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  width: 100%;
}

.camera-field {
  width: 100%;
}

app-simple-button {
  width: 100%;
  display: inline-flex;
  justify-content: center;
}
